.navbar-brand.cent {
    width: 98vw;
    position: absolute;
    top: 10;
  }

  .navbar-brand.cent img {
    display: block;
    margin: auto;
  }

  .tam {
    min-height: 80px;
  }

  .scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
  }

  .scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(3,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler.navbar-toggler {
    border-color: rgb(3, 0, 0);
  }

  .prueba {
    position: absolute;
    margin-left: 175px;
    height: 37px;
    display: flex;
    align-items: center;
  }